# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
	{ on = "P", run = "plugin toggle-pane min-preview", desc = "Show or hide the preview pane" },
	{ on = "p", run = "plugin toggle-pane max-preview", desc = "Maximize or restore the preview pane" },
	{ on = "<C-w>", run = "close", desc = "Close the current tab, or quit if it's last" },
]
